/* basci settings */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: white;
}

ul, li {
    list-style-type: none;
}

body {
    font-family: 'Quicksand', sans-serif;
    text-align: center;
}

h1 {
    font-family: 'Righteous', cursive;
    font-size: 5rem;
    color: #96bb7c;
    

}

h2 {
    font-size: 3rem; 
   
}

h3 {
    font-size: 2rem;
}



/* navbar */
.nav-bar {
    display: flex;
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    background: #70af85;
    justify-content:space-evenly;
    padding: 0.5rem 1rem;
    flex-wrap: wrap;
    
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}


/* header */
#header {
    /* height: 100vh; */
    text-align: center;
    background: #fcf6e8;
    padding: 4rem 0;
}

.header-img {
    border: 1rem solid white ;
    box-shadow: 5px 10px 18px #888888;
    max-width: 100%;
    height: auto;
    
}

.header-content {
 font-size: 1.2rem;
 width: 50%;
 margin: 0.5rem auto;
 padding-bottom: 1.5rem;
 
}

/* info section */

#info {
    text-align: center;
    padding: 3rem 0;
    background: #fcf6e8;
}

.info-content {
    padding-top:2rem;
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
}

.info-card {
    background:#96bb7c ;
    padding: 2rem;
    margin: 1rem 2rem;
    /* border: 2px solid black; */
    color:  #fcf6e8;
    text-align: left;
    line-height: 1.5;
    font-size: 1.2rem;
    border: 1rem solid white ;
    box-shadow: 5px 10px 18px #888888;
    
}


/* menu */
#menu {
    background:#96bb7c ;
    text-align: center;
    padding: 3rem 0;
}

#menu h2 {
    color:#fcf6e8;
    padding-bottom: 1rem;
}

table {
    text-align: left;
}

th, td {
    padding: 0.5rem;
}

.menu-header {
    padding: 2rem;
    border: 2px solid black;
}

.menu-card {
    width: 25rem;
    border: 0.8rem solid white;
    /* box-shadow: 5px 10px 18px black; */
    background: #fcf6e8;
    margin: 1rem;
    padding: 0.8rem;
}

.menu-footer {
    
    border: 0.8rem solid white;
    background: #fcf6e8;
    /* box-shadow: 5px 10px 18px black; */
    width: auto; 
    margin: 1rem;
    padding: 0.8rem;
}

.menu-wrapper {
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
}

/* reviews */
#reviews {
    color: #fcf6e8;
    background:#96bb7c ;
    padding: 2rem;
}


/* about */
#about {
    background:#fcf6e8 ;
    padding: 2rem 0;
}

#about h2 {
    color: #96bb7c;
    
}

.about-content {
    display: flex;
    text-align: left;
    justify-content: center;
    font-size: 1.5rem;
    line-height: 1.5;


}

.about-content>* {
    flex-basis: 80rem;
    background:#96bb7c ;
    padding: 2rem;
    margin: 1rem 2rem;
    color:  #fcf6e8;
    border: 1rem solid white ;
    box-shadow: 5px 10px 18px #888888;
}


/* contact */
#contact {
    background:#fcf6e8 ;
    padding: 2rem 0;
}

#contact h2 {
    color: #96bb7c;
    
}

.contact-content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


.contact-map{
    margin: 1rem 2rem;
    border: 1rem solid white ;
    box-shadow: 5px 10px 18px #888888;
   

}




.contact-detail {
    text-align: left;
    font-size: 1.2rem;
    line-height: 1.5;

    padding: 2rem;
    margin: 2rem 2rem;
    color:  #fcf6e8;
    border: 1rem solid white ;
    box-shadow: 5px 10px 18px #888888;
    background:#96bb7c ;
    

}



@media screen and (max-width: 600px) {
    h1 {
      font-size: 3.5rem;
    }

    h2 {
        font-size: 2rem;
    }

    h3{
        font-size: 1.5rem;
    }

    .header-img{
        border: 0.5rem solid white ;
    }


    .menu-card {
        width: 20rem;
      
  }

  .menu-footer {
      display: none;
  }

  .about-content>* {
      font-size: 1rem;
      border: 0.5rem solid white ;
      padding: 1rem
  }


  .contact-detail {
   
    font-size: 1rem;
    border: 0.5rem solid white ;
    padding: 1rem
   
}

.info-card {
    font-size: 1rem;
    border: 0.5rem solid white ;
    padding: 1rem
}



}


@media screen and (max-width: 300px) {
    .menu-card {
        width: 15rem;
        font-size: 0.8rem;
  }
}